.toolbar-sFd8og5Y,
.group-T57LDNqT,
.group-3e32hIe9 {
  background: #1b1d38 !important;
  color: #fff !important;
}
td,
[class^='icon-'] > svg,
[class^='shortcut-'],
[class^='label-'],
[class^='item-9Mqd4dY6'],
.apply-common-tooltip {
  color: #fff !important;
  /* background: #1b1d38 !important; */
}

[class^='buttonIcon-'] {
  color: #fff !important;
}
/* .errorCard__icon-iiZjDmS7 {
  background: red;
  color: red;
} */
